extends ../../layouts/default.pug

block main 
    .container
        h1(class="mb-4") Phân quyền

        div(class="text-right")
            button(
                type="submit"
                class="btn btn-primary mb-3"
                button-submit
            ) Cập nhật 

        table(class="table table-hover table-sm" table-permissions)
            thead
                tr
                    th Tính năng
                    each item in  records 
                        th #{item.title}

                    
                
                
            tbody
            each item in records
                tr(data-name="id")
                     td(class="text-center")
                       input(type="text" value=item.id )
                tr
                    th(colspan="4" class="text-center") Danh mục sản phẩm
                tr(data-name="products-category_view")
                    td Xem
                    each item in records
                        td(class="text-center")
                            input(type="checkbox" checked=item.products_category_view )
                   
                tr(data-name="products-category_create")
                    td Thêm mới
                    each item in records
                        td(class="text-center")
                            input(type="checkbox" checked=item.products_category_create )
                tr(data-name="products-category_edit")
                    td Chỉnh sửa
                    each item in records
                        td(class="text-center")
                            input(type="checkbox"   checked=item.products_category_edit )
                tr(data-name="products-category_delete")
                    td Xóa
                    each item in records
                        td(class="text-center")
                            input(type="checkbox" checked=item.products_category_delete )

    form(id="form-change-permissions"
    method="POST"
    action=`/admin/roles/permissions?_method=PATCH`
    )
        div(class="form-group")
            input(
                type="text"
                class="form-control"
                name="permissions"
            )

    script(src="/admin/js/roles.js") 